// Primary 
$primary1: #1F57A4;
$primary2: #2D74DA;
$primary3: #1D3458;

// Secondary 
$seconday1: #00BAA1;


//Communication
$communication1: #00AA5E;
$communication2: #FFB000;
$communication3: #E62325;


// Gray
$white: #FFFFFF;
$neutral1: #F3F3F3;
$gray1: #EAEAEA;
$gray2: #C0BFC0;
$gray3: #949394;
$gray4: #595859;
$gray5: #343334;
$black: #000000;


// UI
$focus: #A8C0F3;



